body{
    background-image: url("./img/back.jpg");
background-size: cover;
background-repeat: round;
background-attachment: fixed;
margin: 0;
padding: 0;
position: fixed;
/* height: -webkit-fill-available;
width: -webkit-fill-available;
position: fixed;
display: flex;
flex-direction: column;
    justify-content: space-between; */
}

/* *{
    margin: 0;
    padding: 0
} */

.opshi{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    display: flex;
    flex-direction: column;
        justify-content: space-between;

}
/* 
.h1div{
    
    border: 2px solid palevioletred;
    border-radius: 37px;
    background-image: url("./img/backa.jpg");
    background-size: cover
} */

a{
display: inline-flex;
    text-decoration: none
}

.verev{

display: flex;
justify-content: space-between
}
/* h1{
    font-size: 20px
} */
/* html{
    position: fixed
} */
.new{
width: 200px;
height: 60px;

}
.nor{
    color: white;
    display: inline-block;
    font-size: x-large;
    font-family: 'Dancing Script', cursive;
}
.xoshor{
    height: 60px;
    width: 60px;
    margin-top: 8px;
    margin-right: 8px;
}
.podelica{
    margin-right: 8px;
}

.dost{
    height: 60px;
    width: 60px;
margin-right: 8px;
margin-top: 6px;
}
.sksel{
    display: inline-flex;
    margin-bottom: 10px;
}

.dastijenia{
    display: inline-flex;
    margin-bottom: 10px;
}
.taracel{
    display: inline-flex;
    margin-bottom: 10px;
}
.cont{
    height: 60px;
    width: 60px;
    margin-right: 8px;
    margin-top: 17px;


}
.sharun{
    display: inline-flex;
    margin-bottom: 10px;
}
.zvuk,.harc{
    width: 50px;
    height: 50px;
}
.bod{
    width: -webkit-fill-available;

}
.futer{
    display: flex;
    justify-content: space-between;
    /* position!: absolute; */
    /* margin-top: 26vh; */
    width: -webkit-fill-available;
    align-items: flex-end;
    margin-bottom: 5px;
    /* margin-bottom: 10px;
    margin-right: 16px; */
}
.drosh{

    width: 64px;
    height: 48px;
}
.tun{
    width: 50px;
    height: 50px;
}



.s{
    color: white;
    font-family: 'Dancing Script', cursive;
}
.h1p{

    color: white;
}
.levels{
    width: 60px;
    height: 60px;
    border: 2px solid  ;
    border-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-bottom: 13px;
    border-radius: 17px;
    background-image: url("./img/l6.png");
    background-size: cover;
    background-color: black;
}
.levels2{

    width: 82px;
    height: 82px;
    border: 2px solid  ;
    border-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-bottom: 13px;
    border-radius: 17px;
    background-image: url("./img/l6.png");
    background-size: cover;
    background-color: black;
}
.pner{
    /* color: cyan; */
    color: floralwhite;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
}
.levelner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hlev{
    justify-content: center;
    display: flex;
}
.h1p{
    color: cornflowerblue;
    /* font-size: x-large; */
    font-family: 'Dancing Script', cursive;
}
.leveldiv{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xax{
    display: flex;
    flex-direction: column;
}
.h1{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.slak{
    width: 71px;
    height: 60px;
    border: 1px solid red;
}
.plus{
    width: 26px;
    height: 26px;
    margin-bottom: 10px;
}
.brl{
    height: 43px;
    width: 43px;
}
.brldiv{
    display: inline;
}
.vererv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}
.brldiv{
    display: flex;
}
.brlp{
    font-size: 25px;
    /* margin-top: 26px; */
    margin: 0;
    margin-top: 6px;
    color: aqua;
    font-family: 'Dancing Script', cursive;


}
.levin{
    margin: 0;
    font-size: 22px;
   
    color: white;
    font-family: 'Dancing Script', cursive;
}
.poxplus{
    width: 28px;
    height: 28px;
}
.pox{
    margin-left: 6px;
    width: 41px;
    height: 41px;
}
.poxdiv{
    display: flex;
}
.poxp{
    font-size: 25px;
    /* margin-top: 26px; */
    margin: 0;
    margin-top: 6px;
    color: orange;
    font-family: 'Dancing Script', cursive;
}
.levp{
    color: white;
    margin: 0;
    font-size: 30px;
}
.table{
    background-repeat: round;
    /* background-attachment: fixed; */
    border-collapse: collapse;
    background-image: url(img/level/0.jpg);
    background-size: cover;
    /* width: 306px; */
    margin: auto;
    border: 2px solid black;
}
.td{
    width: 50px;
    height: 42px;
}

.futerdiv{
    display: flex;
    justify-content: space-between;
}
.ogn1{
    width: 50px;
    height: 50px;
}
.sos{
    width: 50px;
    height: 50px;
}
.xaxayin{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}